.jan{
    background-color: lightgray;
    height:500px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.feb{
    height:450px;
    width:30%;
    border-color: blue;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.feb img{
height:100%;
width:100%;
}
.about{
    height:400px;
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
h1{
    font-weight: 900;
    font-size:60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.in{
    background-color:rgb(186, 186, 224);
    height:500px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.in h1{
    font-weight: 600;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.v{
    height:400px;
    width:30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.rm{
    height:400px;
    width:30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.jm{
    height:400px;
    width:30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
img{
    height:10px;
    width:20px;
}