@import url(https://fonts.google.com/);

:root{

--yellow-theme-background-color : black;
--yellow-theme-main-color : yellow;
--yellow-theme-sub-text-color : white;
--yellow-theme-nav-background-color : black;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    height:100%;

}
body{
    background:var(--yellow-theme-background-color);
    height:100%;
}
#root{
    height:100%;
}